#openshop-cart .openshop-items a {
	text-decoration: none;
}
#openshop-cart .openshop-items a span {
	padding-right: 15px;
}
.openshop-content{
	background: #fff;
	clear: both;
	min-height: 150px;
	min-width: 250px;
	max-width: 350px;
	padding: 8px;
	position: absolute;
	top: 125%;
	border: 1px #ddd solid;
	color: #333;
}
.openshop-items a:hover{
	cursor: pointer;
}
.openshop-items{
	z-index: 1;
}
.openshop-items h4 {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 0;
}
#openshop-cart{
	position: relative;
	right: 0;
	top: 0;
}
.openshop-mini-cart-info td {
	border-bottom: 1px solid #EEEEEE;
	color: #000000;
	padding: 10px 5px;
	vertical-align: top;
}
.openshop-mini-cart-info .openshop-image {
	text-align: left;
}
.openshop-mini-cart-info .openshop-name {
	text-align: left;
}
.openshop-mini-cart-info .openshop-quantity {
	text-align: right;
}
.openshop-mini-cart-info .openshop-image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.openshop-mini-cart-info .openshop-remove {
	text-align: right;
}
.openshop-mini-cart-info .openshop-total {
	text-align: right;
}
.mini-cart-total {
	border-bottom: 1px solid #EEEEEE;
	padding: 10px 5px;
	text-align: right;
}
.openshop-right {
	text-align: right;
}
.checkout {
	clear: both;
    text-align: right;
}
@media only screen and (max-width: 420px) {
    #openshop-cart .openshop-items a span{
        font-size: 11px;
    }
}