a:focus, a:hover{
    text-decoration: none;
}

body{
    background: url('../images/bg.png') repeat;
}
.scrollTop{
    display: none;
}
.bg-scrollTop{
    position: fixed;
    bottom: 10px;
    right: 20px;
    background: #2f5271;
    z-index: 10000001;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}

.footer_container{
    margin: auto;
}
.footer_top{
    width:90%;
    margin: auto;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}
.wrapper_footer{
    margin-top: -2px;

    background: #6f0a1c url("../images/pattern1.png") repeat;
}



.footer_bottom{
    background: #3e000b;
    height: 50px;
}

.module_footer{
    float: left;
    width:25%;
}
.module_footer h3{
    font-family: cursive
}
.custom_footer{
    line-height: 2em;
}