/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 9, 2016, 9:28:09 AM
    Author     : HUY HUYNH
*/

ul li{
    list-style:none;
}
.nav li:hover{
    opacity:1;
    height:190px;
}
.nav li.hm:hover{
    border-bottom:4px solid rgba(11, 132, 138, 1);
}
.nav li.fb:hover{
    border-bottom:4px solid rgba(241, 83, 70, 1);
}
.nav li.gp:hover{
    border-bottom:4px solid rgba(32, 16, 49, 1);
}
.nav li.tw:hover{
    border-bottom:4px solid rgba(228, 148, 7, 1);
}
.nav li.cl:hover{
    border-bottom:4px solid rgba(67, 138, 15, 1);
}
.nav li.pt:hover{
    border-bottom:4px solid rgba(67, 138, 15, 1);
}
.nav li.yt:hover{
    border-bottom:4px solid rgba(67, 138, 15, 1);
}
.nav li.hz:hover{
    border-bottom:4px solid rgba(67, 138, 15, 1);
}
img.icon{
    background:rgba(255, 255, 255, 0.4);
    padding:14px;
    border-radius:100%;
    margin:30px auto;
    display:block;
    transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
    -webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.nav li:hover img.icon{
    background:rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
    text-align:center;
    display:block;
    padding-top:10px;
    color:rgba(255, 255, 255, 1);
    font-size:0.9em;
    transition:padding-top 0.4s;
    -webkit-transition:padding-top 0.4s;
}
.nav li:hover span{
    padding-top:20px;
}
.hm{
    background:rgba(29, 162, 168, 0.8);
}
.fb{
    background:rgba(255, 89, 76, 0.8);
}
.gp{
    background:rgba(47, 31, 64, 0.8);
}
.tw{
    background:rgba(254, 162, 14, 0.8);
}
.cl{
    background:rgba(93, 181, 29, 0.8);
}
.pt{
    background: rgba(195, 84, 192, 0.8);
}
.yt{
    background: rgba(255, 25, 25, 0.8);
}
.hz{
    background: rgba(43, 160, 28, 0.8);
}
.menuSocaial li a{
    text-decoration: none;
}