/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2016, 9:53:16 AM
    Author     : HUY HUYNH
*/

.main_container .top_nav{
    position: fixed;
    width: 100%;
    display: block;
    margin-left: 230px;
    z-index: 100;
}

.nav_menu{
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    height: 40px;
}
.toggle {
    float: left;
    margin: 0;
    padding-top: 8px;
    width: 70px;
}

.btn-toolbar {
    margin-bottom: 0px;
}
.nav-sm .container.body .right_col{
    padding: 0px; 
    margin-left: 70px;
    z-index: 2;
}
.nav-md .container.body .right_col{
    padding: 10px;
}
.page-title{
    padding: 5px 0;
    color: #26B99A;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    font-size: 20px;
    line-height: 36px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.title_huy1{
    position: absolute;
    top: 0;
    left: 10%;
}
.title_huy1 .icon-generic{
    display: none;
}

.nav-md .container.body .col-md-3.left_col{
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    overflow: auto;
    height: 100%;
    position: fixed;
}

@media (max-width: 991px){
    .nav-md .container.body .col-md-3.left_col{
        display:none;
    }
}

.nav-sm .container.body .col-md-3.left_col{
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: fixed;
    overflow: auto;
    height: 100%;
}

.sidebar-footer a{
    cursor: pointer;
}

footer{
    /*position: fixed;*/
    bottom: 0;
    /*width: 100%;*/
    height: 35px;
    background: #172D44;
    z-index: 10;
    padding: 10px;
    color: white;
}
.nav-sm .main_container .top_nav{
    z-index: 100;
}
.price{
    font-size: 20px;
}

.search-tool-edit {
    float: left;
    margin: 0px 5px;
}
