/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 2, 2016, 10:47:17 PM
    Author     : HUY HUYNH
*/

.add-numberphone{
    padding: 10px 20px;
    background: #5CB85C;
    color: white;
}

.add-numberphone:hover{
    box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
    background: #33BD33;
    cursor: pointer;
}

.btn-add-numberphone{
    margin: 15px 0 10px 15px;
}

.numberphone{
    margin-left: 15px;
}

.email{
    margin-left: 15px;
}

.address{
    margin-left: 15px;
}

.timework{
    margin-left: 15px;
}

.input-group-addon:hover{
    cursor: pointer;
}

