.search-tools
{
    padding: 10px 0;
}
.search-tool-edit
{
    float: left;
    margin: 0px 5px;
}

.select-width-180
{
    width: 140px !important;
}

.edit-arrow-icon{
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 5px;
}

.calendar-edit{
    position: relative;
    top: 4px;
}
/*.panel-body input{
    margin-left: -50%;
}
.panel-body select{
    margin-left: -50%;
}
.panel .buoi{
    margin-left: 5%;
}*/

.tab-pad tr td{
    padding: 2px 10px;
}

.search-product{
    position: absolute;
    z-index: 10;
    background: #EFEFEF;
    cursor: pointer;
    width: 210px;
    top: 100px;
    border: 1px solid  #EFEFEF;
}

.arrow-up {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #EFEFEF;
    position: absolute;
    top: 85px;
    right: 150px;
}


#load tr td {
    text-align: center;
    position: 10px;
}

#show_info_data tr th, #show_info_data tr td{
    vertical-align: middle;
    text-align: center;
}