
#progress_loading {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: -6px;
    width: 1%;
    height: 3px;
    background: #ff0000;
    border-radius: 1px;
    transition: width 500ms ease-out,opacity 400ms linear;
}

.panel-heading-edit
{
    background-color: rgb(173, 181, 171) !important;
}

.panel-body {
    padding: 15px;
}

.search-customer-info
{
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-size
{
    font-size: 22px;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

input[type="text"].search_cus_info
{
    height: 42px !important;
    font-size: 20px !important;
}

#search_cus_button
{
    padding: 10px 12px;
    width: 80px;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-btn>.btn {
    position: relative;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}
button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

/*
 * ------------------- RESPONSIVE
*/
@media (min-width: 768px)
{
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

@media screen and (max-width: 767px)
{
    .responsive-edit {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        background-color: white;
    } 
}

@media screen and (min-width: 1280px)
{
    .responsive-edit{
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}
/*
 * ------------------- RESPONSIVE
*/

.form-group {
    margin-bottom: 15px;
}

.table-edit
{
    width: 100%;
}

.table-edit th, .table-edit td {
    padding: 4px 10px;
}

.cus.table-edit td input
{
    margin-left: -10%;
}

.table-edit tbody tr td {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-edit
{
    width: 95%;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group.list-group-edit
{
    height: 200px;
    overflow: auto;
    cursor: pointer;
}

.list-group-item.active {
    z-index: 2;
    color: #fff; 
    background-color: #337ab7;
    border-color: #337ab7;
}

a.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group a:hover
{
    text-decoration: none;
    background-color: rgba(228, 228, 228, 0.81);
}

.list-group a.active:hover
{
    z-index: 2;
    color: #fff; 
    background-color: #337ab7;
    border-color: #337ab7;  
}

.position-right
{
    float: right;
}

.position-center
{
    text-align: center;
}

.btn-edit
{
    display: inline-block;
    padding: 6px 12px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

.btn-primary-edit
{
    color: #FFF;
    background-color: #337AB7;
}

.btn-not-execute
{
    color: #FFF;
    background-color: #A8AAAB;
}

.btn-width
{
    width: 80%;
    margin-top: 10px;
}

.icon-save-new:before
{
    color: #FFF !important;
}

.btn-edit:hover , .btn_choose_user:hover
{
    background-color: #2097FD;
    color: white;
    box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
}

.btn-not-execute:hover{
    background-color: #788186;
    color: #FFF;
    cursor: no-drop;
    box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
}


input[type="text"].input-small
{
    width: 100px;
}

.input-num
{
    text-align: center;
    width: 15px;
    border: 0px;
}

.info_orther
{
    display: block;
}

.info_users_search
{
    display: none;
}

.btn_choose_user {
    background-color: #337AB7;
    color: white;
    cursor: pointer;
    padding-top: 7px;
    width: 50px !important;
    height: 29px !important;
}

.res_check_code
{
    margin-left: 10px;
}

.code_ok
{
    width: 100%;
    background-color: #337AB7;
    padding: 10px 0;
    color: white;
}

.code_ok .icon-ok:before
{
    color: white;
}

.code_cancel
{
    width: 100%;
    background-color: #CE3939;
    padding: 10px 0;
    color: white;
}

.code_cancel .icon-cancel:before
{
    color: white;
}

.key-buyfromname {
    float: right;
    background: rgb(51, 122, 183);
    padding: 1px 10px;
    color: white;
}

table tr td.sel select
{
    width: 70px !important;
}

/*
* CSS status order
*/

.border_background_pending
{
    background-color: rgb(255, 0, 0);
    padding: 2px 10px;
    color: white;
}

.border_background_canceled{
    background-color:  #FF7600;
    padding: 2px 10px;
    color: white;
}

.border_background_complete{
    background-color: rgb(0, 21, 255);
    padding: 2px 10px;
    color: white;
}

.border_background_denied{
    background-color: rgb(136, 27, 27);
    padding: 2px 10px;
    color: white;
}

.border_background_expired{
    background-color: rgba(19, 19, 19, 0.6);
    padding: 2px 10px;
    color: white;
}

.border_background_failed{
    background-color: rgb(132, 60, 60);
    padding: 2px 10px;
    color: white;
}

.border_background_voided{
    background-color: rgb(212, 17, 17);
    padding: 2px 10px;
    color: white;
}

.border_background_shipped{
    background-color: rgb(0, 197, 255);
    padding: 2px 10px;
    color: white;
}

.border_background_reversed{
    background-color: rgb(177, 98, 175);
    padding: 2px 10px;
    color: white;
}

.border_background_refunded{
    background-color: rgb(236, 0, 241);
    padding: 2px 10px;
    color: white;
}

.border_background_processing{
    background-color: rgb(65, 132, 60);
    padding: 2px 10px;
    color: white;
}

.border_background_processed{
    background-color: rgb(118, 204, 152);
    padding: 2px 10px;
    color: white;
}

.border_background_chargeback{
    background-color: rgb(255, 140, 0);
    padding: 2px 10px;
    color: white;
}

.order .panel
{
    border-radius: 0px !important;
}

.active_info_cus
{
    background-color: #337AB7;;
    padding: 13px 20px 13px 20px;
    color:white;
    font-weight: 100;
    cursor: pointer;
}

.not_active_info_cus
{
    padding: 13px 20px 13px 20px;
    color: #CECECE;
    font-weight: 100;
    cursor: pointer;
}

.input_error
{
    border-color: red !important;
}

.panel-body-huy{
    background-color: #EBEBEB;
}

.box-show-huy
{
    -webkit-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.75) !important;
}

.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

div.modal {
    overflow-y: auto !important;
}

table.adminlist tr td, table.adminlist tr th
{
    vertical-align: middle !important;
}

.checkout
{
    background-color: rgba(0, 255, 196, 0.32);;
    padding: 10px 0px;
    cursor: pointer;
}

.checkout:hover
{
    background-color: rgba(0, 255, 196, 0.83);
}

.checkout_a
{
    padding: 10px;
}

table tr th, table tr td{
    vertical-align: middle !important;
}

.add-order-product
{
    margin-top: 10px;
    background: #4A964A;
    padding: 5px 0;
    color: white;
    cursor: pointer;
}

.add-order-product:hover{
    background-color: #5CB85C;
    box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
}

.total_paid{
    font-size: 58px;
    text-align: center;
    margin: 0px 0 0 0;
}

.unit_money{
    text-align: center;
    margin: 0 0 10px 0;
}

.column-export{
    padding: 10px;
    background: #B8CFE2;
    margin-right: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

.column-export-active{
    padding: 10px;
    background: #008CFF;
    margin-right: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

.column-export:hover
{
    background: #008CFF;
}

.column-heigth{
    height: 45px;
}

.active_column_export
{
    background: #008CFF;
}

.export-column_title{
    margin-bottom: 15px;
    margin-left: 20px;
}

.order_column{
    margin-left: 20px;
}

.margin-btn{
    margin-top: 5px;
}

.hidden_user_found{
    float: right;
    cursor: pointer;
}

.hidden_user_found:hover{
    color: #6F94FF;
}

.btn-appointment-disable{
    background: #BBBBBB !important;
    border-color: #BBBBBB !important;
    cursor: no-drop !important;
}

.quantity-priority{
    padding: 3px;
    background: #4A964A;
    color: white;
}

.quantity-priority:hover{
    background-color: #5CB85C;
    box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
    cursor: pointer;
}

.img-padding-bottom-10{
    padding-bottom: 10px;
}

.quantity-priorited{
    padding: 3px;
    background: #737070;
    color: white;
}

.quantity-priorited:hover{
    background-color: #A7A7A7;
    box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
    cursor: pointer;
}

.reversal-order{
    margin: 10px 0 0 0;
}

.reversal-order span{
    padding: 10px 20px; 
    background: #1B9E1B;
    cursor: pointer;
}

.reversal-order span i{
    color: white;
}

.reversal-order span:hover{ 
    background: #22C522;
    box-shadow: 0 3px 12px 0px #848484;
}
.tableShowProduct tr td:hover{
    cursor: pointer;
    background: #BDFFDE;
}
.tableShowProduct tr td.activePId{
    cursor: pointer;
    background: #BDFFDE;
}
.havePro{
    background: #45ab64;
    color: white;
    text-align: center;
}