
.title-add-product{
    padding: 20px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #A9A9A9;
}

.title-add-product hr{
    border-top: 4px solid #A9A9A9 !important;
    margin: 0px !important;
}

.box-show-huy {
    -webkit-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 3px 15px -2px rgba(0,0,0,0.75) !important;
}

.file-upload {
    position: relative;
    overflow: hidden;
}

.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); }

label.control-label{
    /*margin-top: 6px !important;*/
}

.btn-file-input{
    background-color: #56F7FF !important;
    border: none !important;
}

.select-width-180
{
    width: 140px !important;
    float: right !important;
    margin: 5px !important;
}

.num_sale{
    background: #00C4FF;
    padding: 3px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.num_sale_0{
    background: #C3CDD0;
    padding: 3px 20px;
    border-radius: 20px;
}

#editcell tr td, #editcell tr th{
    vertical-align: middle;
}

.delete_pro td{
    background: #962B2B !important;
    color: white !important;
}

.delete_pro td a{
    color: white !important;   
}
.bgPdefaul{   
    background: #C3CDD0;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
}
.activeBGNew{
    background: #004EFF;
}
.activeBGHOT{
    background: #FF002F;
}
.error{
    color: red;
}
.tags {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    display: table;
    padding: 0.5em;
    width: 100%;
}
.tags li{
    list-style: none;
}
.tags li.addedTagProduct {
    float: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.tags li.tagAdd{
    margin-left: 0.25em;
    margin-right: 0.25em;
    position: relative;
    display: inline;
}
.tags li.addedTagProduct {
    background: none repeat scroll 0 0 #019f86;
    border-radius: 2px;
    color: #fff;
    padding: 0.25em;
}
.tags input, li.addedTagProduct {
    background: none repeat scroll 0 0 #019f86;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
}
span.tagRemove {
    cursor: pointer;
    margin-left: 5px;
}
span.tagRemove:hover {
    color: #ff0000;
}
.showSearchProductDiff{
    position: absolute;
    top: 25px;
    background: #f3f3f3;
    left: 0;
    width: 100%;
    z-index: 100;
    display: none;
}
.showSearchProductDiff ul{
    padding: 0;
}
.showSearchProductDiff ul li{
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
    position: relative;
}
.showSearchProductDiff ul li:hover{
    background: #dcdcdc;
}
.display_inline_block{
    display: inline-block;
}

