/*
* Author: HuyHuynh
* v0.1
*/

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-weight: bold;
    font-size: 16px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading-edit
{
    background-color: rgba(67, 70, 66, 0.34) !important
}

.panel-body {
    padding: 15px;
}

.search-customer-info
{
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-size
{
    font-size: 22px;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

input[type="text"].search_cus_info
{
    height: 30px !important;
    font-size: 20px !important;
}

#search_cus_button
{
    padding: 10px 12px;
    width: 80px;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-btn>.btn {
    position: relative;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}
button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

@media (min-width: 768px)
{
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

.form-group {
    margin-bottom: 15px;
}

.table-edit
{
    width: 100%;
}

.table-edit th, .table-edit td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
}

.cus.table-edit td input
{
    margin-left: -10%;
}

.input-edit
{
    width: 95%;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group.list-group-edit
{
    height: 200px;
    overflow: auto;
    cursor: pointer;
}

.list-group-item.active {
    z-index: 2;
    color: #fff; 
    background-color: #337ab7;
    border-color: #337ab7;
}

a.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group a:hover
{
    text-decoration: none;
    background-color: rgba(228, 228, 228, 0.81);
}

.list-group a.active:hover
{
    z-index: 2;
    color: #fff; 
    background-color: #337ab7;
    border-color: #337ab7;  
}

.position-right
{
    float: right;
}

.position-center
{
    text-align: center;
}

.btn-edit
{
    display: inline-block;
    padding: 6px 12px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

.btn-primary-edit
{
    color: #FFF;
    background-color: #337AB7;
}

.btn-width
{
    width: 80%;
    margin-top: 10px;
}

.icon-save-new:before
{
    color: #FFF !important;
}

.btn-edit:hover
{
    background-color: #4D9CE0;
}

input[type="text"].input-small
{
    width: 100px;
}

.input-num
{
    text-align: center;
    width: 15px;
    border: 0px;
}

#uer_groups
{
    cursor: pointer;
}

.item-label
{
    background-color: #D2E3EF !important;
    font-weight: bold !important;
    color: black !important;
}

.nav > li > a {
    padding: 10px 10px !important;
}

#cpanel div.icon a {
    font-size: 12px;
}

.select-width-180
{
    width: 140px !important;
    float: left !important;
    margin: 5px !important;
}

.title-product{
    font-size: 20px;
}

.btn_cursor_pointer{
    cursor: pointer;
}

.loading_access{
    position: fixed;
    top: 0;
    width: 100%;
    height: 500%;
    background: rgba(0, 0, 0, 0.84);
    opacity: 0.1;
    z-index: 10;
}
.content_access{
    position: fixed;
    top: 250px;
    left: 550px;
}

.display_background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 500%;
    background: rgba(0, 0, 0, 0.84);
    opacity: 0.3;
    z-index: 10;
}

.m_content{
    position: fixed;
    top: 250px;
    left: 550px;
}

div.modal{
    overflow-y: auto !important;
}

.pos_btn{
    float: right;
    margin: -5px 0 0px 5px;
}

.title_per{
    font-size: 20px;
    font-weight: bold;
}
.widthFAQanswer{
    width: 50%;
}

.columnStatistic{
    padding: 0 15px;
    position: relative;
}
.columnStatistic a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    display: inline;
    position: absolute;
    top: 40px;
}
.columnStatistic a:hover{
    opacity: 0.7;
    color: white;
}
.columnStatistic img{
    font-size: 20px;
    display: inline;
    opacity: 0.3;
    float: right;
}
.stsView{
    background: #2DB174;
}
.stsCus{
    background: #972DB1;
}
.stsOrder{
    background: #2D3DB1;
}
.positionRelative{
    position: relative;
}
.padding5{
    padding: 5px !important;
}