
::-moz-selection { background: #d75307; color: #fff }
::selection { background: #d75307; color: #fff }
#jform_params_about_us-lbl,
#jform_params___field1-lbl,
label[id^=jform_params_gk_line_] { display: none; }
#jform_params_news_since_img { margin-top: 8px; }
.openshop-on,
.openshop-off { width:94px; height:27px; background:transparent url('openshop.png') no-repeat 0 0; cursor:pointer; float: left; margin-top: 3px; }
.openshop-off { background-position:-94px 0; }
span.unit { line-height:34px; }
span.readonly { padding: 20px; font-family: Arial; font-size:13px !important; font-weight: normal !important; text-align: justify; color: #4d4d4d; line-height: 24px; }
span.readonly h1 { clear:both; font-family: Georgia, sans-serif; font-size:38px; margin:30px 20px 23px; padding:0px 0px 24px 10px; color:#333; border-bottom: 1px solid #eee; font-weight: normal; }
span.readonly p { margin: 0 26px 10px }
span.readonly p a { color: #AB3F0A }
span.readonly p.homepage {margin-top: 30px}
span.readonly p.license { border-top: 1px solid #eee; font-size: 11px; margin: 30px 26px 0; padding: 6px 0;  }
/* togglers */
.pane-sliders .panel { border: none !important; }
div.panel > h3 { height: 43px; background: transparent url('interface.png') repeat-x 0 0 !important; border: 1px solid #d8d8d8; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font: bold 12px/43px Arial, Helvetica, sans-serif; text-transform: uppercase; }
div.panel > h3 a { color: #333; text-shadow: 0 1px 1px #fff; }
div.panel > h3 a:hover,
div.panel h3.pane-toggler-down a { color: #ab3f0a }
div.panel h3.pane-toggler-down { border-bottom: 4px solid #d75307 !important }
.pane-toggler span { background: transparent url('j_arrow.png') no-repeat 5px 50% !important; }
.pane-toggler-down span { background: transparent url('j_arrow_down.png') no-repeat 5px 50% !important; }
.pane-sliders .content { margin: 4px auto; width: 99%; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.gkHelpLink { float: right !important; width: 22px; height: 22px; cursor: pointer; margin: 11px 12px 0 10px; background: transparent url('interface.png') repeat-x 0 100%; }
.gkHelpLink:hover { background-position: 0 -48px; }
/* form elements in the container */
#jform_params_k2_tags {height: 150px}
.panel fieldset.panelform > ul > li > label { color: #444; font-size: 11px; font-weight: bold; height: 24px; line-height: 24px; padding: 0 20px 0 10px; text-align: right; max-width: 40%!important; min-width: 40%!important; }
.panel fieldset.panelform > ul > li fieldset { line-height:28px; }
fieldset.panelform input[type=radio] { margin-top: 11px; }
fieldset.panelform input { height: 16px; color: #555; line-height: 16px; padding: 4px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
fieldset.panelform input.small { width: 40px; }
fieldset.panelform input.tright { text-align: right; }
fieldset.panelform input[type=button] { height: 26px; line-height: 26px; }
fieldset.panelform select { height: 26px; color: #555; line-height: 24px; padding: 4px; font-size:11px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
fieldset.panelform select.position { width: 80px!important; }
fieldset.panelform textarea { padding: 4px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
fieldset.panelform select[multiple=multiple] { height: 150px; }
/* lists */
#tools_for_pages_input,
#google_analytics_input,
#menu_override_input,
#suffix_override_input,
#suffix_override_select,
#layout_override_input { width: 80px; }
.fltrt ul.adminformlist li { overflow: hidden; border-bottom: 1px solid #eee; padding: 1px 10px; margin: 0; }
.tools_for_pages_remove_rule,
.google_analytics_remove_rule,
.menu_override_remove_rule,
.suffix_override_remove_rule,
.module_override_remove_rule,
.layout_override_remove_rule { float: right; }
fieldset.panelform .label { font-size: 11px; font-weight: bold; width: auto; padding: 0 5px; line-height:34px; }
fieldset.panelform .desc { font-size: 11px; font-weight: normal; width: auto; padding: 10px; }

