.breadcrumb_new{
    padding: 5px;
}
.ul_breadcrumb_new li{
    display: inline-block;
    padding: 6px 10px;
}
.ul_breadcrumb_new li.home{
    padding: 7px 15px;
    background: #0b87af;
    position: relative;
    border-radius: 5px 0 0 5px;
}
.ul_breadcrumb_new li.brc{
    /*padding: 6px 10px;*/
    background: #e87600;
    position: relative;
    margin-left: -5px;
    border: 1px solid white;
    border-left: 0;
}
.ul_breadcrumb_new li.brc_active{
    padding: 5px 10px;
    background: #8c8c8c;
    position: relative;
    margin-left: -5px;
}
.ul_breadcrumb_new li a{
    text-decoration: none;
    color: white;
}
.ul_breadcrumb_new li.brc a, .ul_breadcrumb_new li.brc_active a{
    margin: 10px 5px 10px 10px;
}
.home .arrow-right{
    position: absolute;
    top: 0;
    right: -9px;
    width: 0;
    height: 0;
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-left: 10px solid #0b87af;
    z-index: 100;
}
.brc .arrow-right{
    position: absolute;
    top: 0;
    right: -9px;
    width: 0;
    height: 0;
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-left: 10px solid #e87600;
    z-index: 100;
}
.brc .bg-arrow-right{
    right: -12px;
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    border-left: 12px solid #ffffff;
    z-index: 100;
}
.brc_active .arrow-right{
    position: absolute;
    top: 0px;
    right: -10px;
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 10px solid #8c8c8c;
    z-index: 100;
}
