
.showTabContentT2{
    padding-top: 30px;
}
.showTabContentT2 .tabCatT2{
    text-align: center;
}
.showTabContentT2 .tabCatT2 ul{
    position: relative;
    display: inline;
}
.showTabContentT2 .tabCatT2 ul li.active{
    font-weight: bold;
}
.showTabContentT2 .tabCatT2 ul:before, .showTabContentT2 .tabCatT2 ul:after{
    content: "";
    position: absolute;
    top: 50%;
    width: 25%;
    background: #cacaca;
    height: 1px;
}
.showTabContentT2 .tabCatT2 ul:before{
    right: 100%;
}
.showTabContentT2 .tabCatT2 ul:after{
    left: 100%;
}
.showTabContentT2 .tabCatT2 ul li{
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.showTabContentT2 .tabCatT2 ul li:hover{
    text-shadow: #c3c3c3 1px 1px;
}
.showTabContentT2 .tabCatT2 ul .boder_right{
    border-right: 1px solid #7b7b7b;
}
.showTabContentT2 .content_show_product_tabT2{
    padding: 0px 0 0 0;
}
.showTabContentT2 .content_show_product_tabT2 .namePro{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 10px 0 10px;
}
.showTabContentT2 .content_show_product_tabT2 .namePro a{
    text-decoration: none;
    color: black;
}
.showTabContentT2 .content_show_product_tabT2 .codePro{
    padding: 5px 10px 0 10px;
}
.showTabContentT2 .content_show_product_tabT2 .pricePro{
    color: red;
    font-size: 18px;
    padding: 5px 10px 0px 10px;
    display: inline-block;
    transition: all 0.3s ease;
    position: absolute;
}
.showTabContentT2 .content_show_product_tabT2 .b_t_2{
    /*border: 1px solid #dedede;*/
    /*margin-left: -1px;*/
    /*padding: 15px;*/
}
.showTabContentT2 .content_show_product_tabT2 .b_t_t_2{
    /*margin-top: -1px;*/
    /*background: white;*/
    padding: 3px 3px 5px 3px;
}
.showTabContentT2 .borderContentProduct{
    border: 1px solid #dedede;
    padding: 5px 5px 15px 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px #e2e2e2;
}
.showTabContentT2 .content_show_product_tabT2 .infoImgT2{
    position: relative;
    cursor: pointer;
}
.showTabContentT2 .content_show_product_tabT2 .infoChildProT2{
    position: absolute;
    bottom: 5px;
    background: rgba(255, 255, 255, 0.68);
    width: 90%;
    transform: translate(0px,10px);
    opacity: -1;
    margin-left: 5%;
    transition: all 0.4s ease;
}
.showTabContentT2 .content_show_product_tabT2 .infoChildProT2{
    padding: 10px;
}
.showTabContentT2 .content_show_product_tabT2 .b_t_2:hover .infoChildProT2{
    opacity: 1;
    transform: translate(0px, 0px);
    transition: all 0.4s ease;
}
.showTabContentT2 .content_show_product_tabT2 .b_t_2:hover .pricePro{
    opacity: -1;
    transform: translate(100px, 0px);
    transition: all 0.3s ease;
}
.showTabContentT2 .content_show_product_tabT2 .b_t_2:hover .btn-buy{
    opacity: 1;
    transform: translate(0px, 0px);
    transition: all 0.4s ease;
}
.showTabContentT2 .content_show_product_tabT2 .pricenotbuy{
    padding-left: 10px;
    color: #a0a0a0;
    text-decoration: line-through;
    font-size: 14px;
}
.showTabContentT2 .content_show_product_tabT2 .btn-buy{
    text-align: center;
    padding: 10px 0 0 0;
    transform: translate(-100px,0);
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease;
}
.showTabContentT2 .content_show_product_tabT2 .btn-buy a{
    padding: 10px;
    background: orange;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.showTabContentT2 .content_show_product_tabT2 .pricePro1{
    font-size: 18px;
    color: red;
    padding: 0 0 5px 0;
}
.ct2_not_pro{
    text-align: center;
    font-style: italic;
}
.openshop-products-list{
    position: relative;
/*    top: -38px;*/
}
.breadcrumb{
    background-color: transparent !important;
    margin-bottom: 0px;
    padding: 15px 0px !important;
}
#contentLoadT2 .b_t_2 img{
    border: 1px solid #dedede;
    border-radius: 5px;
}
.rightPercent2{
    right: -2px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #dedede !important;
    padding: 3px 15px;
    color: red;
}
.pagination{
    padding-right: 10px;
}