/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2016, 9:48:04 AM
    Author     : HuyHuynh
*/

/*----------- WAPPER HEAD------------------*/
.width-body{
    width: 90%;
    margin: 0 auto;
}
.wapper-header{
    background: #fff;
}
.head-logo-search{
    padding: 10px 0 15px 0;
}
.head-menu{
    background: #0b87af;
    border-top: 2px solid #05b2e9;
    border-bottom: 2px solid #05b2e9;
    display: inline-block;
    width: 100%;
    height: 42px;
}
.head-slide{
    margin-left: 5%;
    margin-right: 5%;   
    position: relative;

}
.head-slide ul li{
    display: inline-block;
}
.wap_common{
    padding: 0;
    margin-bottom: 5px;
}

.wap_common_2{
    background: #28822a;
}
.wap_common_3{
    background: orange;
}
.wap_common_4{
    background: #711177;
}
.wap_common .icon_common{
    padding-right: 10px;
    font-size: 65px;
    position: relative;
    bottom: 15px;
}
.wap_common .text_common{
    font-size: 65px;
}
.wap_common .text_common .m_text{
    font-size: 35px;
    font-weight: bold;
    border-bottom: 3px solid white;
    padding: 10px 0 5px 0;
    text-align: center;
}
.wap_common .text_common .s_text{
    font-size: 20px;
    padding: 10px 0 0 0;
    text-align: center;
}
.jd-nav-button-next{
    position: absolute;
    top: 47%;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    right: 10px;
    left: auto;
    padding: 7px 17px;
    font-size: 20px;
    background: #ffffff;
    color: #2f5271;
    opacity: 0;
    border: 1px solid #2f5271;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.jd-nav-button-next:hover{
    background: #2f5271;
    color: #ffffff;
}
.jd-nav-button-prev{
    position: absolute;
    top: 47%;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    right: auto;
    left: 10px;
    padding: 7px 17px;
    font-size: 20px;
    background: #ffffff;
    color: #2f5271;
    opacity: 0;
    border: 1px solid #2f5271;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.jd-nav-button-prev:hover{
    background: #2f5271;
    color: #ffffff;
}
.swiper-button-disabled{
    opacity: 0;
}

.slider-product-new .swiper-slide, .slider-product-t4 .swiper-slide, .silde-boder .swiper-slide{
    border: 1px solid #cecece;
    border-radius: 5px;
}
.infoFootT3{
    background: #313131;
    color: #57b4c5;
    padding: 30px 0;
}
.infoFootT3 .address_company .name_company{
    padding: 20px 0 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.name_pro_t3 h5,.name_pro_t4 h5{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #2f5271;
    text-transform: capitalize;
}
.title_col_foot span{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid white;
}
.content_col_foot{
    padding: 10px 0 0 0;
}
.content_col_foot ul li{
    padding: 10px 0;
    font-size: 16px;
}
.content_col_foot ul li a{
    color: #57b4c5;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.content_col_foot ul li a h4{
    display: inline;
    font-size: 16px;
}
.content_col_foot ul li:hover{
    color: #ffa110;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.content_col_foot ul li:hover a{
    margin-left: 10px;
    color: #ffa110;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.allcat_inline{
    padding: 20px 0 10px 0;
    border-top: 1px solid #636363;
    margin-top: 20px;
}
.allcat_inline ul li a{
    text-decoration: none;
}
.allcat_inline > ul > li > a > h4{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.catSub_inline > li > a > h4{
    font-size: 16px;
    padding: 0 10px;
    color: #55b4c5;
}
.catSub_inline > li > a > .boderC{
    border-right: 1px solid #3163b7;
}
.copyright_foot{
    padding: 20px 0 0 0;
    border-top: 1px solid #636363;
    margin-top: 20px;
}
.banner3{
    margin: 20px 0;
}
.banner3 .col_banner3{
    background: white;
}
.banner3 .col_banner3 img{
    width: 100%;
}
.not_price_pro_t4{
    font-size: 12px;
    text-decoration: line-through;
    margin-bottom: -12px;
    margin-top: -5px;
    color: #7b7b7b;
}
.paddingImg{
    padding: 5px;
}
.marginImg{
    margin: 5px;
}
.paddingImg img{
    border: 1px solid #f3f3f3;
    border-radius: 5px;
}
.showProT4 img{
    border-radius: 5px;
}


/*MENU SCROLL*/
.menuScroll{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 7px 0;
    display: none;
    border-bottom: 1px solid #efefef;
    box-shadow: 0px 1px 10px #848484;
    z-index: 100;
}
.menuScroll .searchM5{
    margin-top: 0px; 
}
.menuScroll .name_all_caterogy{
    padding: 6px !important;
    border-radius: 5px;
}
.menuScroll .logiout_t3 .wap_loginout{
    margin-top: 2px !important;
}
.menuScroll .wap_cart_icon{
    padding: 0px;
    background: none; 
    margin-right: 10px;
}
.menuScroll .wap_cart_icon i:before{
    color: #05b2e9;
}
.menuScroll .cart_t1 .num_cart{
    top: -5px;
}
.menuScroll .cart_t1 .num_cart span{
    padding: 4px 8px;
}
.bg_scrollmenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    z-index: 90;
    display: none;
}

.page_j_silde{
    position: absolute;
    top: 10px;
    z-index: 100;
    right: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}
.page_j_silde .page_j{
    padding: 6px;
    width: 280px;
    cursor: pointer;
    position: relative;
    background-image: -webkit-linear-gradient(top,#f4f4f4 0,#eee 100%);
}

.page_j_silde .page_j img{
    border-radius: 5px;
}
.slide_border_img, .slide_border_img img{
    border-radius: 10px;
}
.page_j_silde .page_before:before{
    right: 100%;
    top: 49%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent #fff transparent transparent;
    border-width: 9px;
    margin-top: -7px;
}

.page_j_silde .cls_border{
    border-bottom: 1px solid #ccc;
}
.page_j_silde .banner_title{
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 75px;
}
.page_j_silde .dsc p{
    width: 200px;
}
.page_j_silde .dsc p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    padding-top: 5px;
}
.page_j_silde .border5500{
    border-radius: 5px 5px 0 0;
}
.page_j_silde .border0055{
    border-radius: 0 0 5px 5px;
}
.messageNotRun{
    text-align: center;
    padding: 30px;
}
.productBanner{
    position: relative;
    top: -50px;
}

/*------------------ BANNER ---------------------------- */
.borderImgBanner{
    background: white;
    margin-top: 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 1px 3px #c1c1c1;
    position: relative;
}
.borderImgBanner .imgPro{
    padding: 10px;
}

.borderImgBanner .imgPro img{
    border: 1px solid #f1f1f1;
    cursor: pointer;
}
.borderImgBanner .infoPro{
    min-height: 130px;
    margin: 0 10px;
    position: relative;
}

.borderImgBanner .infoPro .namePro{
    padding: 0 10px 0px 0;
    text-transform: capitalize;
}

.borderImgBanner .infoPro .price{
    padding: 5px 0;
}
.borderImgBanner .infoPro .priceProBuy{
    font-size: 20px;
    color: red;
}
.borderImgBanner .infoPro .priceProNotBuy{
    color: #a2a2a2;
    text-decoration: line-through;
    padding-left: 10px;
}

.borderImgBanner .infoPro .buttonBuy{
    background: #307abf;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 7px;
    cursor: pointer;
}

/*----------------------- PRODUCT DETAIL -------------------- */
.infoViewBuyerDetail, .priceProductdetail{
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}
.infoViewBuyerDetail .infoView,.infoViewBuyerDetail .infobuyer, .priceProductdetail .priceBuyProductDetail, .priceProductdetail .priceNotBuyProductDetail{
    display: inline-block;
}
.nameProductDetail{
    text-transform: capitalize;
    font-weight: bold;
}
.infoViewBuyerDetail .infobuyer{
    margin-left: 15px;
}
.priceProductdetail .priceBuyProductDetail{
    font-size: 25px;
    color: red;
    font-weight: bold;
}
.priceProductdetail .priceNotBuyProductDetail{
    margin-left: 15px;
    font-size: 16px;
    text-decoration: line-through;
    color: #bfbfbf;
}
.buttonBuyNow .addCartProductDetail, .buttonBuyNow .buyNowProductDetail{
    padding: 13px 0;
}
.buttonBuyNow .buyNowProductDetail{
    margin-left: 15px;
}
.buttonBuyNow .addCartProductDetail a{
    padding: 13px;
    background: #029900;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    outline: 0;
}
.buttonBuyNow .addCartProductDetail a i,.buttonBuyNow .buyNowProductDetail a i{
    margin-right: 8px;
    font-size: 20px;
}
.buttonBuyNow .buyNowProductDetail a{
    padding: 13px;
    background: #307abf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    outline: 0;
}
.subImgProduct{
    padding: 10px 0;
}
.subImgProduct ul li{
    display: inline-block;
    cursor: pointer;
}
.percentSale{
    position: absolute;
    top: 10px;
    z-index: 1000;
    padding: 3px 15px;
    border-radius: 5px;
    border: 1px solid red;
    background: white;
}
.c_productRelate{
    border: 1px solid #c7c7c7;
    padding: 7px;
    border-radius: 5px;
}
.c_productRelate img{
    border: 1px solid #c7c7c7;
}
.proRelate, proDetail{
    padding: 10px 0 0 0;
    border: 1px solid #ececec;
    border-top: none;
    margin-top: 10px;
}
.proDetail{
    margin-top: 30px;
}
.titleProductRelate{
    background: #ececec;
}
.titleRelate{
    padding: 10px;
    background: white;
    display: inline-block;
    border-top: 2px solid red;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}
.showProductRelate{
    margin: 10px 0;
}
.contentProductRelate .nameProRelate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0;
}

.contentProductRelate .nameProRelate a{
    text-decoration: none;
    color: #000000;
}
.priceProductRelate .pricebuyRelate{
    font-size: 16px;
    color: red;
    font-weight: bold;
}
.priceProductRelate .prceNotBuyRelate{
    color: #ababab;
    text-decoration: line-through;
}
.yourCare{
    margin-top: 30px;
}
.attrProDetail{
    padding: 10px 0;
}





/*-------------------- PRODUCT DETAIL -----------------------------*/
.btn-order, .btn-buy-now{
    padding: 10px;
    background: #029900;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}
.btn-buy-now{
    background: #e90505;
    /*margin-left: 10px;*/
}
.productDetail{
    border: 1px solid #05b2e9;
    border-radius: 5px;
    margin-top: 0px;
}
.titleProDetail{
    background: #05b2e9;
}
.titleProDetail .titlePD{
    padding: 10px;
    background: white;
    display: inline-block;
    border-top: 3px solid red;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}
.proRelateDetail{
    border: 1px solid #05b2e9;
    border-top: 0;
    border-radius: 5px;
}
.proRelateDetail .titleProductRelate{
    background: #05b2e9;
    padding: 11px;
    color: white;
    font-weight: bold;
    text-transform: uppercase
}
.proRelateDetail .contentProductRelate{
    padding: 10px;
}
.contentProductDetail{
    padding: 10px 15px;
}
.contentProductRelate .proDetailRelate{
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
    margin: 0 0 10px 0;
    background: #fbfbfb;
}
.contentProductRelate .proDetailRelate .productDeatilRelate{
    margin: 10px 0 0 0;
}
.contentProductRelate .proDetailRelate .productDeatilRelate .nameProductReplace a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
.productDeatilRelate .priceProductReplace{
    margin: 10px 0 0 0;
}
.productDeatilRelate .priceProductReplace .priceBuyProReplace{
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.productDeatilRelate .priceProductReplace .priceNotBuyProReplace{
    margin-left: 10px;
    text-decoration: line-through;
    color: #afafaf;
}
.proDetailRelate .imgProductDetailRelate img{
    border: 1px solid #cecece;
    border-radius: 10px;
}
.modal-header{
    background: #ebf3fb;
    border-radius: 5px 5px 0 0;    
}
.modal-title{
    font-size: 20px;
    color: #ff4900;
}
.widthFixed{
    width: 100%;
    top: 0;
    z-index: 100000;
    position: fixed;
    left: 0;
    border-radius: 0;
    display: none;
}
.close{
    opacity: 1;
}
.close span{
    font-size: 65px;
    position: absolute;
    top: -2px;
    right: 15px;
    color: red;
}
.btn_buy_Fixed{
    float: right;
    margin-right: 70px;
}
.btn_buy_Fixed .btn-order, .btn_buy_Fixed .btn-buy-now{
    padding: 5px 20px;
}
.showProductDetail .borderMainImg{
    border: 1px solid #ebf3fb;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.showProductDetail .borderMainImg img{
    border: 1px solid #ebf3fb;
    border-radius: 5px;
}
.image-additional{
    padding: 10px 0 0 0;
}
.image-additional div{
    display: inline-block;
}
#showSubImgZoom{
    margin-top: 5px;
}
#showSubImgZoom a{
    text-decoration: none;
}
.rightPercent{
    right: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ff0d0d;
    top: 20px;
    padding: 3px 15px;
}
.rightPercent1{
    right: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ff0d0d;
    padding: 3px 15px;
}
.img_pro_3_t4 img{
    border: 1px solid #cecece;
    border-radius: 5px;
}
.priceBuy{
    color: #ff0000;
}
.priceBuy, .priceBuyBo{
    /*padding: 0px 0px;*/ 
}
.shortDescription{
    padding: 10px;
    background: #f3f3f3;
    margin-top: 10px;
}
.numricLR{
    position: relative;
    display: inline-block;
}
.numricLR .sub-quantity{
    position: absolute;
    top: 0;
    display: inline;
    background: #04a0d2;
    padding: 1px 12px;
    cursor: pointer;
    left: 0;
}
.numricLR .sub-quantity span{
    color: white;
    font-size: 18px;
    outline: 0;
}
.numricLR .inputNumberProduct{
    font-size: 15px;
    outline: 0;
    padding: 2px 30px 2px 26px;
    border: 1px solid #04a0d2;
    width: 120px;
    text-align: center;
}

.numricLR .add-quantity{
    position: absolute;
    top: 0;
    display: inline;
    background: #04a0d2;
    padding: 1px 12px;
    cursor: pointer;
    right: 0;
}
.numricLR .add-quantity span{
    color: white;
    font-size: 18px;
    outline: 0;
}
.maxHeightSrollZise{
    max-height: 230px;
    overflow: auto;
}
.showSubImgZoom{
    margin-top: 5px;
}
.colorProduct{
    padding: 10px 0;
}
.colorProduct > i{
    margin-left: 5px;
}
.viewDetail > i,.buyerDetail > i{
    padding-left: 5px;
}
.buyerDetail{
    margin-left: 20px;
}
.productCD{
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 2px;
}
.imgProductColorDiff img{
    border-radius: 5px;
}
.nameProductColorDiff a{
    text-decoration: none;
    color: #313131;
    text-transform: capitalize;
}
.productColorDiffNone{
    display: none;
}
.loadingProductColorDiff{
    text-align: center;
    font-size: 65px;
    opacity: 0.1;
}
.showSubImgZoom{
    padding-top: 5px;
}
.contentProductColorDiff{
    padding: 5px;
}
.breadcrumd_detail .breadcrumb_new{
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}
.breadcrumd_detail .home .arrow-right{
    border-top: 15px solid transparent;
    right: -8px;
}
.breadcrumd_detail .brc .arrow-right{
    border-bottom: 15px solid transparent;
    border-top: 14px solid transparent;
    right: -9px;
}
.breadcrumd_detail .brc .bg-arrow-right{
    right: -11px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 12px solid #ffffff;
}
.breadcrumd_detail .brc_active .arrow-right{
    border-bottom: 14px solid transparent;
    border-top: 13px solid transparent;
}
.showSKU{
    float: right;
    font-size: 15px;
}
.short-desc{
    word-break: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.loadmoreProduct{
    margin: 30px;
    text-align: center;
}
.loadmoreProduct .textLoadMore{
    padding: 10px 80px;
    color: white;
    background: #F23F7A;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.loadmoreProduct .textLoadMore:hover{
    box-shadow: 0px 2px 10px -3px red;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.btnCloseJ{
    width: 35px;
    height: 30px;
}
.infoUser{
    font-size: 18px;
    font-weight: bold;
    background: #0b87af;
    color: white;
    padding: 10px;
}
.btnSubmitOrder{
    text-align: center;
    padding: 10px;
    background: linear-gradient(#e54d42,#d72041);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}
.btnSubmitOrder .btn-checkout{

}
.btnSubmitOrder .btn-checkout:hover{

}
.infoPayment{
    background: white;
    border: 1px solid #0b87af;
    border-radius: 5px;
    padding: 0 15px;
}
.infoU, .shippingAddDiff{
    padding: 0 15px;
}
.cartP{
    padding-right: 0;
    border: 1px solid #0b87af;
    border-radius: 5px;
}
.contentCartP{
    padding: 10px;
    background: white;
    border-radius: 5px;
}
.shippingAddressDifferent, .getMyaddress{
    color: #307abf;
    cursor: pointer;
}
.shippingAddressDifferent:hover, .getMyaddress:hover{
    text-decoration: underline;
}
.shippingAddDiff{
    display: none;
}
.btnBuyOn{
    padding: 20px;
    text-align: center;
}
.searchM5{
    margin-top: 35px;
}
.searchM5 #search{
    padding: 8px 10px 8px 10px;
    outline: 0;
    border: 1px solid gainsboro;
    width: 100%;
    border-radius: 10px;
}
.searchM5 .slt_category_search{
    padding: 9px 10px;
    background: #ffffff;
    color: #6f6f6f;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid gainsboro;
    outline: 0;
    border-radius: 5px 0 0 5px;
}
.searchM5 .btn-searchM5{
    margin-left: -5px;
    padding: 8px 30px;
    background: #05b2e9;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #479be9;
    border-radius: 0 5px 5px 0;
}
.searchM5 form{
    position: relative;
}
.searchM5 .btn-searchM5:hover{
    background: #176cbb;
}
.notbuyPrice{
    text-align: right;
    font-size: 14px;
    text-decoration: line-through;
    color: #a5a5a5;
    font-weight: 100;
}
.buyPrice{
    text-align: left;
    float: left;
}
.ProSKU{
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    background: rgba(18, 18, 35, 0.62);
    border-radius: 0 5px;
    color: #ffffff;
    font-size: 16px;
}
.imgProShow3{
    min-height: 200px;
    position: relative;
}






/* ------------------------------- ANIMATION -----------------------------------*/
.animationValQuantity{
    animation: valQuantity 3s ease infinite ;
}
@keyframes valQuantity{
    0%{
        background: #fff;
    }
    33%{
        background: #ff7676;
    }
    66%{
        background: #fff;
    }
    100%{
        background: #ff7676;
    }
}



/*-------------------------------- CONFIG ----------------------------------------*/
.padding0{
    padding: 0;
}
.paddingR0{
    padding-right: 0;
}
.paddingL0{
    padding-left: 0 !important;
}
.display_inline_block{
    display: inline-block;
}
.text_uppercase{
    text-transform: uppercase;
}
.display_block{
    display: block;
}
.paddingT20{
    padding-top: 20px;
}
.icon_white::before{
    color: white;
}
.icon_black::before{
    color: #5f5f5f;
}
.img-padding5{
    padding: 5px;
}
.tooltip.top .tooltip-arrow{
    border-top-color: #2f5271;
}
.tooltip-inner{
    background-color: #2f5271;
}
.paddingT7{
    padding-top: 7px;
}
.paddingR5{
    padding-right: 5px;
}
.overflow_hidden{
    overflow: hidden;
}
.backgroundWhite{
    background: white !important;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /*    Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.positionRelative{
    position: relative;
}
.top20{
    top: 20px;
    left: -10px;
}
.zoomWrapper{
    border: none;
}
.zoomContainer{
    z-index: 9998;
}
#myLoading .progress{
    margin: 0;
}
#myLoading .bg-loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}
#myLoading .modal-dialog{
    margin-top: 100px;
}
.marginB0{
    margin-bottom: 0;
}
.marginT10{
    margin-top: 10px; 
}
.marginR5{
    margin-right: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number]::-moz-inner-spin-button, 
input[type=number]::-moz-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.text_center{
    text-align: center;
}
.head-top{
    border-bottom: 1px solid #e2e2e2;
}
.head-logo{
    padding: 10px 0 15px 0;
}
.head-loginout{
    padding-top: 15px;
}
.head-cart{
    padding-top: 20px;
    float: right;
}
.pointer{
    cursor: pointer;
}
.paddingB10{
    padding-bottom: 10px;
}
marginR5{
    margin-right: 5px;
}
.catSubMenuRes{
    overflow: hidden;
    height: 0px;
}
.paddingL50{
    padding-left: 50px !important;
}
.zindex101{
    z-index: 101;
}
.borderL0{
    border-left: 0px !important;
}
.padding10{
    padding: 10px;
}