.menu-caterogy{
    z-index: 101;
    position: relative;
    left: 50px; 
    top:-5px;
}
.menu-caterogy .name_all_caterogy{
    padding: 10px;
    background: #307abf;
    cursor: pointer;
    border: 2px solid #307abf;
    border-bottom: 3px solid #307abf;
    border-radius: 5px 5px 0 0;
    text-align: center;
}
.menu-caterogy .name_all_caterogy a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.menu-caterogy .name_all_caterogy a span{
    margin-right: 8px;
}
.menu-caterogy .content-menu-caterogy, .menu-caterogy .content-scroll-menu-caterogy{
    background: #fbfbfb;
    width: 100%;
}
.menu-caterogy .content-menu-caterogy ul, .menu-caterogy .content-scroll-menu-caterogy ul{
    margin: 0;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.menu-caterogy .content-menu-caterogy > ul > li > a, .menu-caterogy .content-scroll-menu-caterogy > ul > li > a{
    text-decoration: none;
    color: #414141;
}
.menu-caterogy .content-menu-caterogy ul li, .menu-caterogy .content-scroll-menu-caterogy ul li{
    padding: 7px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
}
.hide_menu_cat{
    opacity: 0;
    z-index: -100;
    transition: all .3s ease;
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -webkit-transition: all .3s ease;
    -moz-transform: all .3s ease;
    display: none;
}
.show_menu_cat{
    display: block;
    opacity: 1;
    z-index: 1000;
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transform: all .3s ease;
}
.menu_category .sub_cat{
    position: absolute;
    background: white;
    width: 300%;
    top: 0px;
    left: 0;
    margin-left: 100%;
    display: none;
    height: 461px;
    padding: 0px 10px;
    color: #000;
    box-shadow: 1px 0px 3px #828282;
}
.show_menu_cat > ul > li > i{
    float: right;
    margin-right: 10px;
    color: #414141;
}
.show_menu_cat .sub_cat a{
    color: black;
    text-decoration: none;
}
.show_menu_cat .sub_cat .see-allsubcat{
    font-weight: bold;
    padding-top: 20px;
}
.show_menu_cat .sub_cat .border-see-allsubcat{
    border-bottom: 1px solid #b9b9b9;
    padding: 10px 0 2px 0;
}
.show_menu_cat .wap-see-subcat, .show_menu_cat .wap-see-subcat .see-subcat{
    padding: 4px 0;
}
.show_menu_cat .wap-see-subcat .see-subcat a{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.show_menu_cat .show-banner-menu-cat{
    padding: 20px 15px 15px 0;
}
.show_menu_cat .show-banner-menu-cat img{
    height: 425px;
    width: 370px;
}

/*HOVER*/
.menu_category .show_menu_cat > ul > li:hover{
    transition: background-color .2s ease-in-out 0s;
    background-color: #3f96e8;
}
.menu_category .show_menu_cat > ul > li:hover div.sub_cat{
    display: block;
}
.menu_category .show_menu_cat > ul > li:hover > a,.show_menu_cat > ul > li:hover > i{
    color: #fff;
}
.menu_category .show_menu_cat .see-allsubcat:hover a{
    color: #3f96e8;
}
.menu_category .show_menu_cat .see-subcat:hover a{
    color: #3f96e8;
    padding-left: 15px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.menu_category .show_menu_cat .see-subcat:hover i.icon_subcat{
    display: inline-block !important;
    color: #3f96e8;
}
.h_s_m_c_t2{
    position: absolute;
    width: 100%;
}
.h_s_m_c_t2 ul li:hover img{
    transform: rotate(360deg);
    transition: all .7s ease;
}
.sub_menu_2_2{
    position: absolute;
    top: 0;
    left: 100%;
    width: 305%;
    z-index: 100;
    background: white;
    height: 461px;
    display: none;
}
.menu_sub_2_1 > li{
    padding: 7px 5px 7px 10px;
}
.angle-right-sub-menu-2{
    float: right;
    margin-right: 5px;
    margin-top: 2px;
}
.menu_sub_2_1 > ul{
    border-left: 0 !important;
}
.menu_sub_2_1 > ul > li:hover{
    transition: background-color .2s ease-in-out 0s;
    background-color: #3f96e8;
}
.menu_sub_2_1 > ul > li:hover > a{
    color: white;
}
.menu_sub_2_1 > ul > li:hover > i{
    color: white;
}
.menu_sub_2_1 > ul > li:hover .sub_menu_2_2{
    display: block;
    padding: 10px 0;
}
.titleSubMenu2{
    padding: 5px 0;
}
.titleSubMenu2 a span{
    transition: all .3s ease;
}
.titleSubMenu2 a:hover{
    color: #0b87af;
}
.titleSubMenu2 a:hover i{
    display: inline-block !important
}
.titleSubMenu2 a:hover span{
    margin-left: 10px;
    transition: all .3s ease;
}
.heightImgBanner{
    height: 461px;
    padding-bottom: 10px;
}
.imgMainBanner{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.textMenu{
    width: 90%;
    display: inline-block;
}
.hidden-desktop-1{
    text-align: right;
    display: none;
}
.hidden-desktop-1 span{
    padding-right: 5px;
}
.menu-responsive{
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    height: 100%;
    z-index: 2002;
    width: 220px;
    transform: translate(250px,0);
    -webkit-transform: translate(250px,0);
    -moz-transform: translate(250px,0);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.menu-responsive a{
    text-decoration: none;
}
.show-menu-responsive{
    transform: translate(0px,0);
    -webkit-transform: translate(0px,0);
    -moz-transform: translate(0px,0);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.liBackMenuResponsive{
    padding: 10px;
    background: #4086c7;
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    padding-right: 25px;
}
.bg-menu-responsive, .bg-menu-cat-responsive{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2001;
    opacity: .3;
    display: none;
}
.menu-responsive ul li{
    padding: 7px 15px;
}


/*-------------------------------MENU--------------------------------------------*/
.menu_5{
    background: #0b87af;
/*    border-top: 2px solid #05b2e9;
    border-bottom: 2px solid #05b2e9;*/
    display: inline-block;
    width: 100%;
}
.menu_5 ul{
    list-style: none;
}
.menu_5 ul > li{
    display: inline-block;
    /*padding: 20px 10px;*/
    position: relative;
    cursor: pointer;
}
.menu_5 ul > li, .menu_5 ul > li > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
}

/*hover*/
.menu_5  ul > li:hover{
    background: #015598;
}

ul.menu5_child_1{
    position: absolute;
    list-style: none;
    background: white;
    top: 67px;
    z-index: -1;
    width: 160px;
    opacity: 0;
    left: 0;
    transform: translate(10px, 0px);
    box-shadow: 0px 0px 5px 0px #c5c5c5;
}
ul.menu5_child_1 > li{
    padding: 10px 15px;
    position: relative;
}
ul.menu5_child_1 > li > a{
    color: black;
    text-decoration: none;
    text-transform: none;
}

ul.menu5_child_2{
    position: absolute;
    left: 160px;
    top: 0;
    width: 160px;
    background: #ffffff;
    text-transform: none;
    list-style: none;
    opacity: 0;
    z-index: -1;
    transform: translate(0px, 20px);
    -webkit-box-shadow: 0px 0px 5px 0px #c5c5c5;
    box-shadow: 0px 0px 5px 0px #c5c5c5;
}
ul.menu5_child_2 > li{
    padding: 10px;
}
ul.menu5_child_2 > li > a{
    color: black;
    text-decoration: none;
}

/*hover menu child 2*/
.menu_5 .searchM5{
    float: right;
    margin-top: -47px;
    width: 25%;
}
.menu_5 .searchM5 #search{
    padding: 10px;
    outline: 0;
    border: 0;
    width: 100%;
}
.menu_5 .searchM5 .btn-searchM5{
    margin-left: -5px;
    border: 0;
    padding: 10px 20px;
    background: orange;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}
.menu5_fixed_top{
    position: fixed;
    z-index: 100000;
    width: 100%;
    top: 0;
}
.searchM5 form{
    position: relative;
}
.menu_category_resposive{
    display: none !important;
}
.menu_category_resposive .menu_sub_2_1 > ul{
    margin: 10px -8px -8px -8px !important;
}
.menu-responsive-category{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    z-index: 2002;
    width: 270px;
    overflow: auto;
    transform: translate(-300px,0);
    -webkit-transform: translate(-300px,0);
    -moz-transform: translate(-300px,0);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.show_menu_resposive_cat{
    transform: translate(0px,0);
    -webkit-transform: translate(0px,0);
    -moz-transform: translate(0px,0);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.menu-responsive-category li{
    padding: 10px;
    border-bottom: 1px solid #4086c7;
}
.iconShowHideMenuCatRes{
    margin-right: 5px;
    color: #4086c7;
}
.catSubMenuRes li{
    padding: 10px 10px 10px 30px;
}
