/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2016, 11:30:58 AM
    Author     : HUY HUYNH
*/

*{
    margin: 0;
    padding: 0;
}

.clr{
    clear: both;
}
.clr10{
    clear: both;
    height: 10px;
}
.productD{
    position: relative;
    padding-bottom: 20px;
    padding-left: 0px;
    /*padding: 0 0 20px 0;*/
}
.productD:hover .featurePH{
    opacity: 1;
    transition: 0.5s all;
}

.productD .featurePHP .viewdetailP:hover{
    background: #ccc;
}

.bg-featurePH{
    background: black;
    padding: 20px;
    width: 300px;
    position: absolute;
    bottom: 140px;
    opacity: 0;
    z-index: 10;
}

.productD:hover .bg-featurePH{
    opacity: 0.3;
    transition: 0.5s all;
}

.featurePH{
    position: absolute;
    bottom: 140px;
    width: 95%;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    opacity: 0;
}
.infoPH{
    height: 120px;
    background: white;
    width: 100%;
}
.pricePH .percent{
    display: inline-table;
    font-size: 35px;
    font-weight: bold;
    padding: 0 0 0 40px;
    color: #ce2c1b;
    float: left;
}
.pricePHnotSaleR{
    padding: 10px;
}
.pricePHnotSaleR .priceold2{
    text-align: center;
    text-decoration: line-through;
    color: #bdbdbd;
    font-size: 16px;
}
.pricePHnotSaleR .pricebuy2{
    font-size: 25px;
    color: #FF873F;
    text-align: center;
}
.productD:hover .featurePH{
    opacity: 1;
    transition: 0.5s all;
}
.productD:hover .infoPH .proname a{
    color:#ce2c1b;
}

.productD .proname{
    text-align: center;
    padding: 10px 10px 5px 10px;
}
.productD .proname a{
    text-decoration: none;
    color: #656565;
    cursor: pointer;
}

.productD img{
    cursor: pointer;
}

.btn-chose{
    color: #ce2c1b;
    font-size: 16px;
}
.btn-chose:hover{
    color: #D6D6D6;
}
.btn-chose-active{
    color: #D6D6D6;
}
.short-desc{
    margin: 10px 0;
}
.percentGiam{
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    color: #FF4545;
    top: -5px;
}
.priceBuy{
    /*padding: 0px 130px;*/
    font-size: 30px;
    color: #FFA700;
    font-weight: bold;
}
.priceBuyBo{
    font-size: 15px;
    text-decoration: line-through;
    color: #BDBDBD;
}
.tbl-order-number{
    width: 100%;
}
.btn-order-Nelo{
    background: #d81212;
    display: inline;
    padding: 16px 45px;
    border-radius: 11px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 10px 0px #5D5D5D;
    cursor: pointer;
}
.btn-order-Nelo:hover{
    background: #f11b11;
    box-shadow: none;
    transition: 0.3s all;
}
.titleDetail{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 10px 0;
}
.detailBorder{
    border-top: 1px solid #CCCCCC;
    padding: 20px 0 0 0;
}
.showProductDetail{
    padding: 0 0 20px 0;
}
.showSKU{
    font-weight: bold; 
    font-size: 25px;
    text-align: right;
}
.relateP{
    padding-right: 0;
}
.relatePDetail{
    background: white;
    margin: 20px 0 0 0;
}

.relatePDetail .name{
    padding: 10px;
}
.relatePDetail .name a h5{
    text-align: center;
}
.relatePDetail .name a{
    text-decoration: none;
    color: #313131;
}
.relatePDetail:hover .name a{
    color: #ce2c1b;
}
.relatePDetail:hover img{
    opacity: 0.6;
}

.pricePH{
    position: relative;
    padding: 0px 0 0 20px;
}
.pricebuy{
    position: absolute;
    top: 0;
    left: 145px;
    font-size: 25px;
    color: #FF873F;
}
.priceold{
    position: absolute;
    top: 26px;
    left: 145px;
    text-decoration: line-through;
    color: #A0A0A0;
}
.pricePH .pricebuy2{
    font-size: 25px;
    color: #FF873F;
    padding: 10px 75px;
}
.pricePHnotSale .pricebuy2{
    font-size: 25px;
    color: #FF873F;
    text-align: center;
    padding-top: 10px;
}
.cartP{
    padding-left: 0;
}
.cartP .cart-title, .cart-quick-info .cart-quick{
    font-size: 18px;
    font-weight: bold;
    background: #0b87af;
    color: white;
    padding: 10px;
}
#table-cart tr td,.table-cart tr th{
    vertical-align: middle;
}
.price_r{
    text-decoration: line-through;
    color: #ADADAD;
}
.nameSizeP{
    position: absolute;
    top: 15px;
    left: 75px;
}
.deleteCartP{
    position: absolute;
    bottom: 0;
    cursor: pointer;
    right: 10px;
    color: #C7C7C7;
}
.deleteCartP:hover{
    color: #FF0808;
}
.loading_access{
    position: fixed;
    top: 0;
    left: 0;
    background: #2F2F2F;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.content_access{
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 1000001;
}
.loading{
    display: none;
}

.question .content_access{
    z-index: 1000000;
    background: white;
    border-radius: 15px;
    width: 400px;
    position: fixed;
    top: 30%;
    left: 35%;
}
.question .titleAction{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #9C9C9C;
}
.question .buttonAction{
    text-align: center;
    padding: 20px;
}
.question .action{
    padding: 10px 20px;
    background: #52A514;
    color: white;
    box-shadow: 0px 0px 10px 1px #B1B1B1;
    cursor: pointer;
}
.question .closeAction{
    padding: 10px 20px;
    background: #D41616;
    color: white;
    box-shadow: 0px 0px 10px 1px #B1B1B1;
    cursor: pointer;
}
.question .action:hover{
    box-shadow: none;
    background: #67C520;
}
.question .closeAction:hover{
    box-shadow: none;
    background: #F12D2D;
}
.question{
    display: none;
}
.btn-continue-buy{
    padding: 10px 20px;
    background: #307abf;
    color: white;
    cursor: pointer;
}
.btn-continue-buy:hover{
    background: #05b2e9;
}
#formCart{
    padding-bottom: 50px;
}
.logOrder{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px 0 0 0;
    margin-top: 50px;
}
.logOrder .login{
    padding: 20px;
}
.logOrder .login span{
    padding: 10px 20px;
    background: #0E21A7;
    color: white;
    cursor: pointer;
}
.logOrder .login span:hover{
    background: #223EFF;
    padding: 10px 25px;
    transition: 0.5s all;
}
.logOrder .ordernotlogin{
    padding: 20px;
}
.logOrder .ordernotlogin span{
    padding: 10px 20px;
    background: #B75324;
    color: white;
    cursor: pointer;
}
.logOrder .ordernotlogin span:hover{
    padding: 10px 25px;
    background: #FF7433;
    transition: 0.5s all;
}
#formQuickOrder .bg-quickorder{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1D1D1D;
    z-index: 1000;
    opacity: 0.5;
}
#formQuickOrder .content-quickorder{
    position: fixed;
    top: 10%;
    left: 30%;
    z-index: 10000;
    background: white;
    width: 40%;
    border-radius: 5px;
}
#formQuickOrder .titleQO{
    border-bottom: 1px solid #BDBDBD;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
}
#formQuickOrder .contentQO{
    padding: 10px;
}
.search-categories .title-categories{
    padding: 10px;
    background: #ce2c1b;
    text-align: center;
    color: white;
    font-weight: bold;
}
.allcategories ul li{
    list-style: none;
    padding: 5px 10px;
}
.allcategories ul li a{
    color: #616161;
    text-decoration: none;
    cursor: pointer;
}
.allcategories ul li a:hover{
    color: red;
}
.btnSignin{
    padding: 70px 0;
    text-align: center;
}
.btnSignin span{
    padding: 10px 20px;
    background: #1D3BCE;
    color: white;
    cursor: pointer;
}
.btnSignin span:hover{
    padding: 10px 25px;
    background: #3557FF;
    transition: 0.5s all;
}
.priceJ1{
    font-size: 45px;
    font-weight: bold;
    color: #ff2500;
}
.infoshortP h2{
    margin: 0 0 10px 0;   
    color: #e01500; 
    font-weight: bold;
}
.noProduct{
    text-align: center;
    padding: 100px;
}
.loginJ{
    padding: 0 0 40px 0;
}
.titleL{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ce2c1b;
}
.formLoginJ{
    padding: 20px 0 50px 0;
}
.loginJ input[type="text"], .loginJ input[type="password"]{
    height: 40px;
}
.btnForm button[type="submit"]{
    background: #ce2c1b;
    border-color: #ce2c1b;
    border-radius: 0;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
}

.loginJ .Jregistr{
    padding: 10px;
    background: #1B26AD;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 90px 0;
}

.loginJ .Jregistr:hover{
    background: #3745EC;
}
.errorLogin{
    padding: 10px;
    background: #FF5C5C;
    margin: 0 0 10px 0;
    color: white;
}
.error{
    color: red;
}
.errorBorder{
    border-color: red !important;
}

.contentFAQs .col-md-3{
    padding-left: 0;
    padding-bottom: 30px;
}

.contentFAQs ul li{
    list-style: none;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
}
.contentFAQs ul li a{
    text-decoration: none;
    color: #4C4C4C;
}
.contentFAQs ul li a:hover{
    color: #ce2c1b;
}
.contentFAQs .titleFAQ{
    padding: 10px;
    background: #ce2c1b;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.contentFAQs .titleA{
    padding: 10px;
    background: #5064C5;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.paginationH{
    text-align: center;
    padding: 40px 0 50px 0;
}
.paginationH span{
    padding: 15px 114px;
    background: #2F7718;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}
.paginationH span:hover{
    background: #43A224;
    text-shadow: 0px 0px 3px white;
    border-radius: 10px;
}

/*------------------------pagination-----------------------------*/
.pagination ul.pagination-list li{
    display: inline;
}
.pagination ul.pagination-list{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
}
.pagination ul.pagination-list li a{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination ul.pagination-list li.active > a{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination ul.pagination-list li.disabled > a{
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination{
    width: 100%;
    text-align: right;
}
.titleGeneral{
    padding: 10px;
    background: #2B860E;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.colPadding{
    padding: 10px 0 5px 0;
}
.editProfile{
    float: right;
    cursor: pointer;
    color: #222223;
}
.editProfile:hover{
    color: #ce2c1b;
}
.editNoneProfile{
    display: none;
}
.resSuccess{
    padding: 15px;
    background: #ce2c1b;
    margin: 10px 0 5px 0;
    color: white;
    border-radius: 10px;
}
.resError{
    padding: 15px;
    background: #E66464;
    margin: 10px 0 5px 0;
    color: white;
    border-radius: 10px;
}
.resClose{
    color: #8A8A8A;
    cursor: pointer;
    float: right;
}
.nelo-content-tags{
    padding: 0 10px;
    background: white;
}
.nelo-content-tags h5{
    display: inline-table;
    padding: 5px;
    background: #8A8A8A;
    color: white;
    cursor: pointer;
}
.contentA{
    padding: 10px 10px 20px 10px;
}
.contentA .contentquestion h5{
    margin: 0;
    padding: 10px;
    background: #656565;
    color: white;
    box-shadow: 0px 5px 10px -3px #464646;
    cursor: pointer;
}
.contentQA{
    background: #E8E8E8;
    margin: 0 0 20px 0;
}
.contentAnswer{
    padding: 10px;
    display: none;
}

.contentFAQs .active{
    color: #ce2c1b;
    border-bottom: 1px solid;
}
.parchaseHistory h1{
    border-bottom: 1px solid #ce2c1b;
}
.parchaseHistory table thead{
    background: #669259;
    color: white;
}
.parchaseHistory table thead tr th{
    text-align: center;
}
.parchaseHistory table tbody tr td{
    vertical-align: middle;
}

/*
* CSS status order
*/

.border_background_pending
{
    background-color: rgb(255, 0, 0);
    padding: 2px 10px;
    color: white;
}

.border_background_canceled{
    background-color:  #FF7600;
    padding: 2px 10px;
    color: white;
}

.border_background_complete{
    background-color: rgb(0, 21, 255);
    padding: 2px 10px;
    color: white;
}

.border_background_denied{
    background-color: rgb(136, 27, 27);
    padding: 2px 10px;
    color: white;
}

.border_background_expired{
    background-color: rgba(19, 19, 19, 0.6);
    padding: 2px 10px;
    color: white;
}

.border_background_failed{
    background-color: rgb(132, 60, 60);
    padding: 2px 10px;
    color: white;
}

.border_background_voided{
    background-color: rgb(212, 17, 17);
    padding: 2px 10px;
    color: white;
}

.border_background_shipped{
    background-color: rgb(0, 197, 255);
    padding: 2px 10px;
    color: white;
}

.border_background_reversed{
    background-color: rgb(177, 98, 175);
    padding: 2px 10px;
    color: white;
}

.border_background_refunded{
    background-color: rgb(236, 0, 241);
    padding: 2px 10px;
    color: white;
}

.border_background_processing{
    background-color: rgb(65, 132, 60);
    padding: 2px 10px;
    color: white;
}

.border_background_processed{
    background-color: rgb(118, 204, 152);
    padding: 2px 10px;
    color: white;
}

.border_background_chargeback{
    background-color: rgb(255, 140, 0);
    padding: 2px 10px;
    color: white;
}
.pageH{
    float: right;
}
.pageH .pagination{
    margin-top: 0;
}
.pagination li .c{
    cursor: pointer;
}
.contentTitleProfile{
    padding: 0 10px;
}
.contentTitleProfile .ct{
    padding: 5px 0;
}
.contentTitleProfile .ct a{
    text-decoration: none;
    color: #2F2F2F;
}
.contentTitleProfile .ct a:hover{
    color: #ce2c1b;
}

.products-list .col-md-2, .products-list .col-md-10{
    padding: 0;
}
.productHits{
    padding: 20px 0 0 0;
}
.titlePH{
    padding: 10px;
    background: #ce2c1b;
}
.titlePH a.tPH{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.titlePH a.tPH:hover{
    cursor: pointer;
    text-shadow: 0px 0px 10px;
}
.swiper-container {
    width: 100%;
    height: 470px;
}
.swiper-container-photo{
    width: 100%;
    height: 350px;
    padding: 10px 0 0 0;
}
.swiper-wrapper{
    cursor: pointer;
}

.addcart{
    padding: 12px;
    background: #ce2c1b;
    border-right: 1px solid white;
}
.addcart:hover{
    background: #8C8C8C;
    cursor: pointer;
    transition: 0.5s all;
}
.addlove{
    padding: 12px;
    background: #8C8C8C;
    /*border-right: 1px solid white;*/
}
.addlove:hover{
    background: #ce2c1b;
    cursor: pointer;
    transition: 0.5s all;
}
.new-item{
    background: url('../images/new-label-product.png') no-repeat top left;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}
.sale-item{
    background: url('../images/sale-label-product.png') no-repeat top left;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
}
.bg-item span{
    display: none;
}
.featurePHP{
    position: absolute;
    bottom: 50%;
    width: 300px;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    top: 50%;
}
.featurePHP .viewdetailP{
    color: white;
    padding: 10px 20px;
    background: #ce2c1b;
    text-decoration: none;
}
.featurePHP .viewdetailP:hover{
    background: #ccc;
}
.loved{
    padding: 12px;
    background: #F90000;
}
.loved:hover{
    background: #8C8C8C;
    cursor: pointer;
    transition: 0.5s all;
}
.productD:hover .showSizeP{
    opacity: 1;
    transition: 0.5s all;
}
.showSizeP{
    position: absolute;
    color: white;
    top: 100px;
    left: 0;
    background: #ce2c1b;
    padding: 3px 20px;
    width: 50px;
    opacity: 0;
}
.posS-1{
    margin: 30px 0 0 0;
}
.posS-2{
    margin: 60px 0 0 0;
}
.posS-3{
    margin: 90px 0 0 0;
}
.posS-4{
    margin: 120px 0 0 0;
}
.products-list .col-md-12{
    margin: 0;
    padding: 0;
}
.menuCatResponsive{
    position: fixed;
    top: 160px;
    left: -65px;
    background: #0D45AB;
    z-index: 1000;
    transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-15deg);
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    display: none;
}
.bg-menuCartResponsive{
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.5;
    display: none;
}
.menu3 .iconMainMenu{
    display: none;
}
.detailBorder img{
    max-width: 100% !important;
    display: inline-block;
}
.mini-cart-header .block-title .btn-toggle .cart-title {
    font-size: 116%;
    font-weight: 600;
    line-height: 50px;
}
.mini-cart-header .block-title .btn-toggle .item-cart {
    display: none;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 14px;
    top: 7px;
    color: rgb(255, 255, 255);
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
}
.mini-cart-header .block-content {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.45098) 0px 7px 5px;
    width: 300px;
    position: absolute;
    right: 0px;
    top: 42px;
    z-index: 19;
    border-top: none !important;
}
.block-content .block-inner {
    padding: 20px;
}
p {
    margin: 0px;
    padding: 0px;
}
.mini-cart-header .bottom-action .price-total {
    font-weight: bold;
    font-size: 133.33%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.price {
    color: rgb(108, 197, 80);
}
.cartIJ{
    position: relative;
}
.cartIJ .proCart{
    position: absolute;
    top: 0;
    left: 65px;
}
.cartIJ .priCart{
    position: absolute;
    left: 65px;
    bottom: 0;
    font-weight: bold;
    color: #ce2c1b;
}
.cartIJ .proCart a{
    color: #616161;
    text-decoration: none;
}
.cartIJ .proCart a:hover{
    color: #ce2c1b;
}
.cartIJ .delCart{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.cartIJ .delCart:hover{
    color:red;
}
.cart-title a{
    color: #313131;
    text-decoration: none;
}
.imgdisplaynone{
    display: inline !important;
}
.btnCO{
    margin-top: 20px;
}
.btnCO a{
    text-decoration: none;
    color: #ce2c1b;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid;
    cursor: pointer;
}
.btnCO a:hover{
    color: white;
    background: #ce2c1b;
}
.descMobile{
    display: none;
}
.position_relative{
    position: relative;
}
.display_block{
    display: block !important;
}
.display_none{
    display: none !important;
}
.menu_m4_ef_show{
    opacity: 1  !important;
    transform: translate(0px,0px) !important;
    transition: all 1s;
    z-index: 1000 !important;
}
.menu_m4_ef_hide{
    opacity: 0  !important;
    transition: all 1s;
    transform: translate(0px,20px) !important;
    z-index: 0 !important;
}
.cursor_pointer{
    cursor: pointer;
}
.float_right{
    float: right;
}
.text_black{
    color: black;
}
ol, ul{
    list-style: none;
}
