/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2016, 3:46:50 PM
    Author     : HUY HUYNH
*/

@media(max-width: 1280px){

}

@media(max-width: 1050px){
    .menu_5 ul > li, .menu_5 ul > li > a{
        padding: 10px 8px;
    }
}

@media(max-width: 991px){
    .menu5_main{
        display: none;
    }
    .hidden-desktop-1{
        display: block;
    }
    .menuScroll{
        display: none !important;
    }
}

@media(max-width: 800px){
    #search_mini_form {
        width: 375px !important;
    }
    #search_mini_form, .form-search {
        width: 360px !important;
    }
    .pricePH .percent{
        padding-left: 0;
    }
    .pricePH .pricebuy, .pricePH .priceold{
        left: 100px;
    }
    .name .pricePH{
        padding: 0;
    }
    .name .pricePH .pricebuy, .name .pricePH .priceold{
        left: 80px;
    }
    .socailH{
        margin-top: 20px !important;
    }
}

@media(max-width: 768px){
    .head-logo{
        text-align: center;
    }
    .head-logo img{
        display: inline;
    }
}

@media(max-width: 680px){
    .menuTop ul{
        display: none;
    }
    .iconMenuTop{
        display: block !important;
    }
    #search_mini_form,#search_mini_form, .form-search{
        width: 260px !important;
    }
}

@media(max-width: 640px){
    .productHits img, .productHits .bg-featurePH, .productHits .featurePH, .productHits .infoPH,
    .product-hot img, .product-hot .bg-featurePH, .product-hot .featurePH, .product-hot .infoPH{
        width: 280px !important;
    }
    .logoIj{
        float: none !important;
        text-align: center;
    }
    .my-slider ul li img, .main-slider{
        height: 250px !important;
    }
}

@media(max-width: 610px){
    .infoPayment{
        margin-top: 15px;
    }
    .user_district{
        margin-top: 10px;
    }
    .contentCartP{
        padding: 0px;
    }
    .searchM5{
        margin-top: 0px;
    }
    .cart_t1{
        margin-bottom: 15px;
    }
    .infoCusCart{
        padding: 0px;
    }
}
@media(max-width: 560px){
    .infoPayment{
        margin-top: 15px;
    }
    .user_district{
        margin-top: 10px;
    }
    .contentCartP{
        padding: 0px;
    }
    .searchM5{
        margin-top: 0px;
    }
    .cart_t1{
        margin-bottom: 15px;
    }
    .infoCusCart{
        padding: 0px;
    }
}

/*
*   
*/
.dtop35px{
    top: -35px;
}
.priceProductMobile{
    padding: 5px 0;
}
.priceProductMobile .pricePro{
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.borderCartMobile{
    border-bottom: 1px solid #0b87af;
}