.openshop-category {
    margin-top: -5px;
}
.openshop-category ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.openshop-category > ul > li {
    padding: 8px 8px 8px 0;
}
.openshop-category > ul > li + li {
    border-top: 1px solid #EEEEEE;
}
.openshop-category > ul > li > a {
    color: #333333;
    text-decoration: none;
}
.openshop-category > ul > li ul {
    display: none;
}
.openshop-category > ul > li a.active {
    font-weight: bold;
}
.openshop-category > ul > li a.active + ul {
    display: block;
}
.openshop-category > ul > li ul > li {
    padding: 5px 5px 0 10px;
}
.openshop-category > ul > li ul > li > a {
    display: block;
    text-decoration: none;
}
.openshop-category > ul > li ul > li > a.active {
    font-weight: bold;
}


/*====tùy biến menu=====*/

/*=====---end menu---====*/